<!doctype html>
<html ng-app="labListApp">
<head>

  <meta charset="utf-8">
  <title>List of labs</title>
  <meta name='viewport' content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Labs list for RELATED labs">
  <meta name="author" content="Rafael Pastor Vargas">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <style>
        .circle {
           border-radius: 50%;
        }
    </style>
</head>
<body ng-controller="labListAppCtrl">
    <!-- Main content -->   
<div class="container main_div">
	<div class="row alert alert-info" style="margin-top:5px;margin-left:2px;margin-right:2px;">
    	<div class="col-xs-6 col-sm-6 col-md-6">
        	<img id="logo" src="img/related.png" width="50" height="50" style="float: left; margin: 0px 15px 15px 0px;"/>
            <p class="hidden-xs" style="margin-top:12px;">Building labs in the easy way...</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 text-right">
        	<div style="margin-top:10px;">
            	<i class="fa fa-user fa-2x"></i>&nbsp;<span id="username" class="badge" style="cursor: pointer;" ng-click="logout()">{{user}}</span>
            </div>
        </div>
    </div>
    
	<div class="row" >
        <div class="col-xs-8 col-sm-6 col-md-6">
            <i class="fa fa-search"></i>&nbsp;&nbsp;<input ng-model="query">
        </div>
    </div>
    
    <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12">
        	<h4>Laboratory: <small><span id="lblLabName">{{selected_lab.name}}</span></small></h4>
            <h4>Experiment: <small><span id="lblExpName">{{selected_experiment.experiment_name}}</span></small></h4>
            <div class="text-center">
                <button id="btnEnter" type="button" class="btn btn-info" ng-disabled="!selected_lab_isAlive" ng-click="toExperiment(selected_lab,selected_experiment)">
                    <i class="fa fa-share-square-o">&nbsp;&nbsp;</i>Access
                </button>
                <p class="text-danger" style="margin-top:5px;">
                    {{error}}
                </p>
            </div>
        </div> 
    </div>
    
    <div class="row" style="margin-top:5px;">
      
		<div id="lab_list" class="col-xs-12 col-sm-12 col-md-12">
             <ul class="list-group">
                  <li class="list-group-item" ng-repeat="lab in labs | filter:query">                     
                      <h5>
                          <img src="img/IconLab.png" width="32px" height="32px" style="display: inline; float:left; margin-right:10px;cursor: pointer;" class="thumbnail" 
                               ng-click="toggleModal(lab)"/>
                         <span class="text-center">{{lab.name}}</span><br/><small>{{lab.description}}</small>    
                      </h5> 
                  </li>
            </ul>
 		</div>
    </div>
       
</div>

<!-- Modal in Angular JS: directive-->   
<modal title="Lab information" visible="showModal">
    <form role="form">
      <div class="form-group">
      	  <span class="text-info">Lab alive?</span>
          <div ng-show="selected_lab_isAlive" class="text-center" style="display:inline-block;"><i class="fa fa-check-circle-o fa-2x"></i></div>
          <div ng-show="!selected_lab_isAlive" class="text-center" style="display:inline-block;"><i class="fa fa-exclamation-triangle fa-2x"></i></div>
          <fieldset style="margin-top:5px;">
                <label for="experiments">Experiments</label>
                <br/>
                <select class="form-control text-center" name="experiments" ng-model="selectedExperiment" ng-options="exp.experiment_name for exp in experiments">
                </select>
          </fieldset>
      </div>
    </form>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="selectExperiment(selectedExperiment)">Select</button>
      </div>
</modal>
    
<!-- SCRIPT SECTION -->
    <!-- Loaded only if cordova/phonegap is used to build the client -->
	<script type="text/javascript" charset="utf-8" src="cordova.js"></script>
    
	<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
    
    <!-- SOAP service javascript library -->
	<script type='text/javascript' src='js/jquery.soap.js'></script>
	<script type="text/javascript" src='js/jquery.base64.js'></script>
	<script type="text/javascript" src='js/jquery.xml2json.js'></script>
    
    <!-- angular js CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    
    <script src="js/rlab_library.js" type="text/javascript"></script>
    <script src="js/rlab_editors.js" type="text/javascript"></script>
    <script src="js/rlab_services_systems.js" type="text/javascript"></script>
    <script src="js/rlab_services_sessions.js" type="text/javascript"></script>
    <script src="js/rlab_services_tokens.js" type="text/javascript"></script>
    <script src="js/rlab_services_watchdogsignal.js" type="text/javascript"></script>
    <script src="js/labs_main.js" type="text/javascript"></script>
    
    <script type="text/javascript">

		$('document').ready(function(e) {
            // Load user data from localstorage
            // Load labs
            if (localStorage.labs_info != null){
                var labs_info = JSON.parse(localStorage.labs_info);
                _user = labs_info.user;
                _labs = labs_info.labs;
                $('#username').html(_user);
            } else {
				window.location = "login_related.html";
			}
        });
	
	</script>
    
</body>
</html>
